.card {
  background-color: white;
  height: 33rem;
  width: 25rem;

  position: relative;

  &__image {
    width: 25rem;
  }

  .card__content {
    padding-left: 20px;
    padding-top: 20px;
  }

  .card__description {
    padding-top: 20px;
    width: 22rem;
    color: grey;
    font-size: 0.9rem;
  }

  .card__button {
    margin-top: 20px;
    padding: 10px;
    width: 110px;
    background-color: white;
    border: 1px black solid;
    position: absolute;
    bottom: 30px;
    left: 140px;
    &:hover {
      background-color: grey;
    }
    &--primary {
      background-color: black;
      color: white;
      left: 20px;
    }
  }

  .card__tags {
    position: absolute;
    list-style: none;
    left: 150px;
    li {
      display: inline;
      background-color: lightgray;
      border-radius: 1000px;
      padding: 7px;
      padding-left: 10px;
      padding-right: 10px;
      margin: 5px;
      font-size: 0.8rem;
    }
    li:first-child {
      background-color: lightgreen;
    }
  }
}
// :)
